* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    color: white;
    font-family: 'arial';
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    color: black;
}
.liens {
    display: inline;
    background-color: dimgrey;
}

a {
    background-color: dimgrey;
    width: 50px;
    word-break: break-all;
}

body {
    background-color: dimgrey;
}

.container {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 40px;
    background-color: dimgrey;
}

.text {
    display: flex;
    align-items: center;
}
p {
    display: inline-block;
}

span {
    display: inline-block;
}
span:active {
    display: inline-block;
    font-size: 30px;
    color: yellow;
}
span:last-child {
    color: red;
    font-size: 30px;
}
span:last-child:hover {
    color: yellow;
    font-size: 30px;
}
span:last-child:active {
    color: yellow;
    font-size: 100px;
}
span:first-child:first-letter {
    text-transform: uppercase;
}

.formulaire {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkslategrey;
    padding: 10px;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
}

label:active {
    font-size: 30px;
    color: yellow;
}

label::first-letter {
    text-transform: uppercase;
}

input {
    width: 100%;
    background-color: white;
}
#bouton {
    background-color: darkred;
    border-radius: 4px;
    width:80px;
}
#bouton:hover {
    background-color: red;
    border-radius: 4px;
    width:80px;
}
#bouton:active {
    background-color: yellow;
    border-radius: 10px;
    width:100px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
}