/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body #wrapper {
  background-image: url("assets/Forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
body #wrapper img {
  position: absolute;
  bottom: 0;
}
body #wrapper img#p2 {
  transform: scaleX(-1);
  right: 0;
}
body #wrapper .paragraphe-p1, body #wrapper .paragraphe-p2 {
  position: absolute;
}
body #wrapper .paragraphe-p1 {
  bottom: 450px;
  left: 5px;
  padding: 10px 20px;
  border: 1px solid #535353;
  background-color: #a9a9a9;
  animation: fadeIn 2s;
}
body #wrapper .paragraphe-p2 {
  bottom: 450px;
  right: 5px;
  padding: 10px 20px;
  border: 1px solid #535353;
  background-color: #a9a9a9;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body #wrapper .box {
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 10px;
}
body #wrapper .box button {
  border: 1px solid #775f3b;
  background-color: #e0a853;
  color: #000;
  height: 100%;
  padding: 0 5px;
}
body #wrapper .box progress {
  position: absolute;
  bottom: 400px;
}
body #wrapper .personnage-b1 {
  left: 150px;
}
body #wrapper .personnage-b2 {
  right: 150px;
} */